/* CSS Document */

.gallery {
	margin: 0 auto; 
	display: flex; 
	flex-wrap: wrap;
	max-width: 100%;
	@include media(break-s){
		max-width: 90%;
		}
	
	& .thumb {
		margin: 10px auto;
		box-shadow: 5px 5px 10px darkorange;
		height: 200px; 
		width: 200px; 
	}
}