/* CSS Document */

@import url('https://fonts.googleapis.com/css?family=Roboto+Mono');

body {
	background-color: $base-color;
	box-sizing: border-box;
	margin: auto;
	max-width: 900px; 
	font-family: 'Roboto Mono', monospace;

}